body {
  text-align: justify;
  background-color: yellowgreen;
  margin: 0 30px;
  
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

@media screen and (max-width:400px) {
  body {
    margin:0 30px;
  }
  figure {
    margin-bottom: 25px;
  }
  h1 {
  font-size:large;
  }
  h2 {
    font-size: large  
  }
  p {
    font-size: large
  }
}

@media screen and (max-width:1400px) and (min-width:800px) {
  .figure-wrap {
    display: flex;
  }