body {
  background-color: rgb(241, 224, 224);
  text-align: justify;
  /* margin: 0 30px; */
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

@media screen and (max-width: 400px) {
  body {
    background-color: yellowgreen;
    margin:0 30px;
  }
  figure {
    margin-bottom: 25px;
  }
  h1 {
  font-size:large;
  }
  h2 {
    font-size: large  
  }
  p {
    font-size: large
  }
}

@media screen and (min-width: 800px) {
  .figure-wrap {
    border: 1px solid;
    padding: 15px;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
  }
  .main-cat-images {
    background-color:rgb(163, 145, 120);
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 5px;
    align-items: center;
  }
  .figure-wrap .main-cat-images  img {
    border-radius: 16px;
    padding: 28px;
    border-radius: 300px;
    width: 16rem;
  }

  @media screen and (min-width: 1300px) {
    body {
      background-color: rgb(161, 161, 161);
      margin: 20px;
    }

    h1,h2,p,figcaption {
      font-size:xx-large;
    }
  }